body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #dbdbdb;
}
a {
    text-decoration: none;
}
#wrapper {
    background-color: #ffffff;
    max-width: 1010px;
    margin: 0 auto;
}
.banner {
    background-color: #4c4c4a;
    display: flex;
    align-items: center;
}
.logo {
    width: 18%;
    text-align: center;
}
.logo img{
    width: 90px;

    background-size: cover;
}
.searchbox {
    position: relative;
    height: 40px;
    padding: 2px;
    width: 40%;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 100px;
}
.searchbox input {
    line-height: 40px;
    font-size: 18px;
    background: none;
    width: 100%;
    border: none;
    position: absolute;
    outline: none;   
    padding-left: 10px;
}
.icon {
    font-size: 24px;
    position: absolute;
    right: 5px;
    color: #000;
    padding: 6px;
}
header .item {
    color: #fcfcfc;
    font-size: 20px;
    padding-right: 15px;
    border-right: 1px solid #fff;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 20px;
}
header .item::after { 
    content: "\25be";
}
.social {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    margin-right: 18px;
}
.social a {
    color: #fff;
    line-height: 40px;
    font-size: 24px;
}
nav {
    background-color: #0d0d0d;
}
nav #main-menu {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
#main-menu li{
    padding: 20px 30px;
}
#main-menu li a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
.box-content {
    margin: 10px 0px;
}
.box-content .item {
    font-size: 17px;
    padding: 9px 10px;
    border: 1px solid #1abc9c;
}
.item:nth-child(even) {
    background-color: #f6f6f6;
}
.box-content .price {
    color: gray;
    float: right;
}
.box {
    width: 340px;
    border: 1px solid #999;
    border-radius: 7px;
    padding: 10px;
    margin: 20px 8px;
}
.box-title {
    padding-top: 10px;
}
.title-heading {
    color: #000;
    font-weight: bold;
}
.date {
    text-align: right;
    color: gray;
    float: right;
}
.date::after {
    content: "\25be";
}
.box-content .item:not(:first-child) {
    border-top: none;
}
.readmore::after {
    content: '\2192';
}
.box-model {
    display: flex;
}
#main {
    width: 69%;
    padding: 0 8px;
}
/* hero img */
.hero-img {
    background-image: url(https://via.placeholder.com/850x400);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-end;
}
.hero-img .overlay {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,138,255,0) 100%);
}
.big-post h2 {
    padding: 10px;
    FONT-WEIGHT: 100;
    font-size: 20px;
    text-align: left;
    line-height: 28px;
    margin: 0;
}
.big-post-dec {
    background-color: #d2dfe9;
}
.big-post-dec p {
    color: #333;
    font-size: 17px;
    margin: 0;
    padding: 10px;
    line-height: 20px;
}
.section-title {
    color: #000;
}
.news {
    margin: 0 8px;
}
/*  small post */
.small-post ul {
    color: #000;
    padding-left: 20px;
}
.small-post {
    border-top: 1px solid #b7abab;
    margin-top: 20px;
    border-bottom: 2px solid #b7abab;
    padding-bottom: 15px;
}
/* flim box */
.solo-film {
    width: 317px;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid #948282;
    border-radius: 5px;
    padding: 10px 0;
}
.solo-title {
    font-size: 20px;
    text-align: center;
}
.solo-detail {
    display: flex;
    position: relative;
}
.vs-icon {
    position: absolute;
    background-color: orange;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-75%, -40%);
    left: 55%;
}
.vs-icon span {
    color: #fff;
    font-size: 38px;
    font-weight: bold;
}
.front-flim {
    padding: 0 27px;
}
.solo-detail p {
    color: #000;
    margin: 0 auto;
    text-align: center;
}
.flim-box {
    display: flex;
}