/*	Setup basic CSS	*/
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 62.5%; /* 1rem = 10px */
}
body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	display: block;
}
button {
	cursor: pointer;
}
button,
textarea,
input {
	outline: none;
	box-shadow: none;
	font-family: "Lato", sans-serif;
}
/*	my style start from here */
.wrapper {
	max-width: 1600px;
	margin: 0 auto;
}
:root {
	--primary: #64c29e;
	--heading: #353738;
	--text: #8d9092;
	--input-border: #d3d7d9;
	--input-text: #cdcdcd;
	--bg-light: #f7f7f7;
	--bg-dark: #282f35;
}
/*	header */
.header {
	min-height: 800px;
	background-image: url(../images/img-bg-header.png);
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
}
.nav {
	margin-top: 3.5rem;
}
.nav__list {
	display: flex;
	align-items: center;
}
.nav__item {
	padding-left: 4rem;
	padding-right: 4rem;
	position: relative;
}
.nav__link {
	font-size: 1.3rem;
	font-weight: 700;
	color: var(--heading);
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	display: block;
}
.nav__item:last-child:before,
.nav__item:nth-child(2):before {
	content: '.';
	position: absolute;
	font-size: 2rem;
	top: -0.6rem;
	left: 0;
}
/* feature */
.feature__header {
	padding: 11rem 1.5rem 14rem;
	background-color: var(--bg-light);
}
.feature__img-top {
	margin: 0 auto 3rem;
}
.feature__heading {
	color: var(--heading);
	font-size: 1.8rem;
	text-transform: uppercase;
	margin-bottom: 2rem;
	font-weight: bold;
	text-align: center;
	line-height: 1.6;
}
.feature__header-desc {
	color: var(--text);
	font-size: 1.8rem;
	margin: 0 auto;
	text-align: center;
	line-height: 1.6;
	max-width: 106rem;;
}
.feature__item {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 60rem;
	overflow: hidden;
}
.feature__item-img {
	width: 67%;
	position: relative;
}
.feature__item-content {
	width: 33%;

}
.feature__item .img__bg {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.feature__item .img__brand {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}
.feature__item-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
.feature__item-content-top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 7rem;
	position: relative;
	background-color: white;
	height: 67%;
}
.feature__item-text {
	font-size: 1.6rem;
	line-height: 1.6;
	color: var(--text);
	text-align: justify;
	position: relative;
	padding-bottom: 3rem;
}
.feature__item-content-bottom {
	height: 33%;
}
.feature__item:nth-child(2) .feature__item-img {
	order: 1;
}
.feature__item:last-child .feature__item-img {
	width: 33%;
}
.feature-item:last-child .feature__item-content {
	width: 34%;
}
/* arrow hidden before img */
.feature__item-content-top:after {
	content: '';
	position: absolute;
	bottom: -2rem;
	left: 50%;
	width: 2rem;
	height: 2rem;
	background-color: white;
	z-index: 10;
	transform: translate(-50%, -50%) rotate(-45deg);
}
.feature__item-text:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
	width: 6rem;
	height: 1px;
	background-color: var(--bg-light);
}